body {
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#task {
    width: 60%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
    margin-right: 10px;
}

#addTask {
    padding: 9px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 7px;
    margin-top: 5px;
}

.delete {
    color: red;
    cursor: pointer;
}